[Desktop Entry]
Encoding=UTF-8
Name=EXOR
Comment=Exor demo video
Exec=promovideo.sh 
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;AudioVideo;
Icon=promovideo
# vi: encoding=utf-8
