# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
SRCDIR = "${TOPDIR}/../git"

BBFILES ?= ""

BBLAYERS ?= " \
  ${SRCDIR}/meta-exor \
  ${SRCDIR}/meta-freescale \
  ${SRCDIR}/poky/meta \
  ${SRCDIR}/poky/meta-poky \
  ${SRCDIR}/poky/meta-yocto-bsp \
  ${SRCDIR}/meta-openembedded/meta-oe \
"
